In [13]:
import json
import pickle , joblib
import pandas as pd
import numpy as np
import pandas as pd

# 11. Model Inference

In [11]:
# Modeling 
#Load file model.pkl

#:\Users\maddi\OneDrive\Documents\batch19\p1gc2\logreg_model.pkl
with open('C:\\Users\\maddi\\OneDrive\\Documents\\batch19\\p1gc2\\logreg_model.pkl', 'rb') as file_1:
    best_logreg=joblib.load(file_1)
with open('C:\\Users\\maddi\\OneDrive\\Documents\\batch19\\p1gc2\\svc_model.pkl', 'rb') as file_2:
    best_svm=joblib.load(file_2)
with open('C:\\Users\\maddi\\OneDrive\\Documents\\batch19\\p1gc2\\ord_encode.pkl', 'rb') as file_3:
    OrdEnc=joblib.load(file_3)
with open('C:\\Users\\maddi\\OneDrive\\Documents\\batch19\\p1gc2\\ohe_encode.pkl', 'rb') as file_4:
    OheEnc=joblib.load(file_4)
with open('C:\\Users\\maddi\\OneDrive\\Documents\\batch19\\p1gc2\\scale_feat.pkl', 'rb') as file_5:
    scaler=joblib.load(file_5)
with open('C:\\Users\\maddi\\OneDrive\\Documents\\batch19\\p1gc2\\winsoriser.pkl', 'rb') as file_6:
    winsoriser=joblib.load(file_6)



with open('C:\\Users\\maddi\\OneDrive\\Documents\\batch19\\p1gc2\\num_cols_sc.txt', 'r') as file_7:
    num_cols_sc=json.load(file_7)
with open('C:\\Users\\maddi\\OneDrive\\Documents\\batch19\\p1gc2\\num_cols_nsc.txt', 'r') as file_8:
    num_cols_nsc=json.load(file_8)
with open('C:\\Users\\maddi\\OneDrive\\Documents\\batch19\\p1gc2\\cat_ord_cols.txt', 'r') as file_8:
    ord_cols=json.load(file_8)
with open('C:\\Users\\maddi\\OneDrive\\Documents\\batch19\\p1gc2\\cat_ohe_cols.txt', 'r') as file_8:
    ohe_cols=json.load(file_8)

In [15]:
df1=pd.read_csv('data_inference.csv')
df1

,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,18,Private,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,25,United-States,<=50K
1,25,Private,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,38,United-States,<=50K
2,63,Private,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,<=50K
3,42,Private,Some-college,10,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,45,United-States,<=50K
4,20,Self-emp-not-inc,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,<=50K
5,18,Private,11th,7,Never-married,Craft-repair,Own-child,White,Male,0,0,20,United-States,<=50K
6,29,Private,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Male,0,0,40,United-States,<=50K
7,48,Self-emp-not-inc,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,65,United-States,<=50K
8,41,Federal-gov,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,1980,40,United-States,<=50K
9,42,State-gov,Some-college,10,Divorced,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K

In [16]:
inference = df1.copy()

In [17]:
def card_america(df_new, a):
    df_new[a] = np.where(df_new[a].str.contains('United-States'), 'America', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Haiti'), 'America', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Dominican-Republic'), 'America', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Puerto-Rico'), 'America', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Canada'), 'America', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Guam'), 'America', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Mexico'), 'America', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Peru'), 'America', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Columbia'), 'America', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Ecuador'), 'America', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Trinadad&Tobago'), 'America', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('El-Salvador'), 'America', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Guatemala'), 'America', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('South'), 'America', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Jamaica'), 'America', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Cuba'), 'America', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Nicaragua'), 'America', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Honduras'), 'America', df_new[a])
def card_eu(df_new, a):
    df_new[a] = np.where(df_new[a].str.contains('Italy'), 'Europe', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Germany'), 'Europe', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Portugal'), 'Europe', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('England'), 'Europe', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Poland'), 'Europe', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Yugoslavia'), 'Europe', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('France'), 'Europe', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Ireland'), 'Europe', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Greece'), 'Europe', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Holand-Netherlands'), 'Europe', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Scotland'), 'Europe', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Hungary'), 'Europe', df_new[a])
def card_asian(df_new, a):
    df_new[a] = np.where(df_new[a].str.contains('India'), 'Asian', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Philippines'), 'Asian', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('China'), 'Asian', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Laos'), 'Asian', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Japan'), 'Asian', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Vietnam'), 'Asian', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Thailand'), 'Asian', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Hong'), 'Asian', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Cambodia'), 'Asian', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Iran'), 'Asian', df_new[a])
    df_new[a] = np.where(df_new[a].str.contains('Taiwan'), 'Asian', df_new[a])

In [18]:
def card_occ(df, a):
    df[a] = np.where(df[a].str.contains('serv'), 'Entry-Level', df[a])
    df[a] = np.where(df[a].str.contains('Farm'), 'Entry-Level', df[a])
    df[a] = np.where(df[a].str.contains('clean'), 'Entry-Level', df[a])
    df[a] = np.where(df[a].str.contains('Mach'), 'Mid-Level', df[a])
    df[a] = np.where(df[a].str.contains('Tech'), 'Mid-Level', df[a])
    df[a] = np.where(df[a].str.contains('Adm'), 'Mid-Level', df[a])
    df[a] = np.where(df[a].str.contains('Sales'), 'Mid-Level', df[a])
    df[a] = np.where(df[a].str.contains('Craft'), 'Mid-Level', df[a])
    df[a] = np.where(df[a].str.contains('Trans'), 'Mid-Level', df[a])
    df[a] = np.where(df[a].str.contains('manager'), 'High-Level', df[a])
    df[a] = np.where(df[a].str.contains('special'), 'High-Level', df[a])
    df[a] = np.where(df[a].str.contains('Unknown'), 'Unknown', df[a])
    df[a] = np.where(df[a].str.contains('Armed'), 'Army', df[a])

In [19]:
def card_wc(df, a):
    df[a] = np.where(df[a].str.contains('gov'), 'Gov', df[a])
    df[a] = np.where(df[a].str.contains('Private'), 'Private', df[a])
    df[a] = np.where(df[a].str.contains('Self'), 'Self-Emp', df[a])
    df[a] = np.where(df[a].str.contains('Never'), 'Never_Worked', df[a])
    df[a] = np.where(df[a].str.contains('Without'), 'Without_Pay', df[a])

In [20]:
#America
card_america(inference, 'native_country')

#Europe
card_eu(inference, 'native_country')

#Asian
card_asian(inference, 'native_country')

In [21]:
card_occ(inference,'occupation')

In [22]:


card_wc(inference,'workclass')

In [27]:
num_cols = ['age', 'capital_gain', 'capital_loss', 'hours_per_week']
edu_col = ['education_num']

In [26]:
cat_cols= ['workclass', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country']

In [28]:
inference_num = inference[num_cols]
inference_edu = inference[edu_col]
inference_cat = inference[cat_cols]

In [30]:
inference[num_cols]= scaler.transform(inference_num)